@import "./color_schemes/dark";

$base-grey: rgb(17, 28, 28);


$white: #fff;
$grey-dk-000: lighten($base-grey, 50%);
$grey-dk-100: lighten($base-grey, 20%);
$grey-dk-200: lighten($base-grey, 6%);
$grey-dk-250: lighten($base-grey, 4%);
$grey-dk-300: $base-grey;
$grey-lt-000: lime;
$grey-lt-100: teal;
$grey-lt-200: orange;
$grey-lt-300: $grey-dk-000;
// $purple-000: #7253ed;
// $purple-100: #5e41d0;
// $purple-200: #4e26af;
// $purple-300: #381885;
// $blue-000: #16ab48;
// $blue-100: #ff0000;
// $blue-200: #aa22ff;
$blue-300: #4f9cdb;
// $green-000: #41d693;
// $green-100: #11b584;
// $green-200: #2BB673;
// $green-300: #026e57;
// $yellow-000: #ffeb82;
// $yellow-100: #fadf50;
// $yellow-200: #f7d12e;
// $yellow-300: #e7af06;
// $red-000: #f77e7e;
// $red-100: #f96e65;
// $red-200: #D14C42;
// $red-300: #dd2e2e;


// $blue-000: #3d5476;
// $link-color: #16ab48; // $grey-dk-300;
$link-color: rgb(33, 212, 141); // $grey-dk-300;
$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$feedback-color: darken($sidebar-color, 1%);

$border-color: $grey-dk-200;
